.header {
  height: 200px;
  width: 100%;
  background-color: beige;
  padding-top: 50px;
}

.task-card {
  width: 20%;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px rgba(1, 1, 1, 0.2);
  margin: 20px 20px;
}

.card-header {
  /* background-color: #2acee4 !important; */
  padding: 10px !important;
  font-weight: bold;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 1, 1.5);
}

.card-body {
  /* background-color: aliceblue; */
  border-top: '1px solid black';
  margin: 10px;
}

.card-text {
  font-size: 14px;
}

.task-container {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px !important;
  /* margin: 20px; */
  flex-direction: row;

}


.MuiBox-root {
  float: right;
  background-color: #f1f1f1;
  width: 100%;
}

.MuiCardActions-root {
  float: right;

}

button {
  margin: 20px;
}

.MuiLinearProgress-root,
.task-status {
  margin: 10px
}